
article {
    line-height: 1.4rem;

    & > main {
        font-family: serif;
    }

    & > .info {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: end;
        gap: 0.2rem;

        & > label {
            justify-self: end;
        }
    }

    pre {
        line-height: 1.2rem;
    }

    .docutils.literal {
        font-family: monospace;
        white-space: pre-wrap;
    }
    .literal > span.pre {
        white-space: nowrap;
    }

    .admonition {
        padding: 0.1rem 1rem;
        background: var(--color-grey-200);

        & > .admonition-title {
            font-weight: 600;
        }
    }

    footer {
        margin-top: 1.5rem;
        border-top: 1px solid #444444;
        padding: 0 0.5rem;
    }

    h1, h2, h3 {
        margin: 2rem 0 1.5rem 0;
        font-family: sans-serif;
    }

    .code                              { background: #f8f8f8; }
    .code .comment                     { color: #008800; font-style: italic }
    .code .error                       { border: 1px solid #FF0000 }
    .code .generic.deleted             { color: #A00000 }
    .code .generic.emph                { font-style: italic }
    .code .generic.error               { color: #FF0000 }
    .code .generic.heading             { color: #000080; font-weight: bold }
    .code .generic.inserted            { color: #00A000 }
    .code .generic.output              { color: #808080 }
    .code .generic.prompt              { color: #000080; font-weight: bold }
    .code .generic.strong              { font-weight: bold }
    .code .generic.subheading          { color: #800080; font-weight: bold }
    .code .generic.traceback           { color: #0040D0 }
    .code .keyword                     { color: #AA22FF; font-weight: bold }
    .code .keyword.pseudo              { font-weight: normal }
    .code .literal.number              { color: #666666 }
    .code .literal.string              { color: #BB4444 }
    .code .literal.string.doc          { color: #BB4444; font-style: italic }
    .code .literal.string.escape       { color: #BB6622; font-weight: bold }
    .code .literal.string.interpol     { color: #BB6688; font-weight: bold }
    .code .literal.string.other        { color: #008000 }
    .code .literal.string.regex        { color: #BB6688 }
    .code .literal.string.symbol       { color: #B8860B }
    .code .name.attribute              { color: #BB4444 }
    .code .name.builtin                { color: #AA22FF }
    .code .name.class                  { color: #0000FF }
    .code .name.constant               { color: #880000 }
    .code .name.decorator              { color: #AA22FF }
    .code .name.entity                 { color: #999999; font-weight: bold }
    .code .name.exception              { color: #D2413A; font-weight: bold }
    .code .name.function               { color: #00A000 }
    .code .name.label                  { color: #A0A000 }
    .code .name.namespace              { color: #0000FF; font-weight: bold }
    .code .name.tag                    { color: #008000; font-weight: bold }
    .code .name.variable               { color: #B8860B }
    .code .operator                    { color: #666666 }
    .code .operator.word               { color: #AA22FF; font-weight: bold }
}
